# Gradle
.gradle/
build/
captures/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Native / build outputs
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

